body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.output-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: 0 auto;
    /* Center the output container horizontally */
    margin-top: 20px;
    /* Adjust top margin as needed */
}

h2 {
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
}

.section ul {
    list-style-type: none;
    padding-left: 0;
}

.section ul li {
    margin-bottom: 5px;
}

#output {
    color: black;
    /* Set text color to black for better readability */
}

.button-2 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover,
.button-2:focus {
  background-color: #F082AC;
}



/* CSS */
.button-1 {
    background-color: #4e2575;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #4e2575;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.left-container {
    width: 48%; /* Adjust as needed */
}
.right-container {
    width: 48%; /* Adjust as needed */
}
label {
    font-weight: bold;
    display: block; /* Ensures labels appear on their own line */
    margin-bottom: 5px; /* Adds some space between labels */
}

/* Style for select element */
select {
    width: 40%; /* Makes the select element full-width */
    padding: 8px; /* Adds padding for better appearance */
    border-radius: 4px; /* Adds rounded corners */
    border: 2px solid #591769; /* Adds a border */
    box-sizing: border-box; /* Ensures padding and border are included in width */
    margin-bottom: 10px; /* Adds some space between elements */
}

/* Style for input element */
textarea{
    padding: 8px; /* Adds padding for better appearance */
    border-radius: 4px; /* Adds rounded corners */
    border: 2px solid #591769; /* Adds a border */
    box-sizing: border-box; /* Ensures padding and border are included in width */
    margin-bottom: 10px; /* Adds some space between elements */
}
input[type="number"] {
    width: 40%; /* Makes the input element full-width */
    padding: 8px; /* Adds padding for better appearance */
    border-radius: 4px; /* Adds rounded corners */
    border: 2px solid #591769; /* Adds a border */
    box-sizing: border-box; /* Ensures padding and border are included in width */
    margin-bottom: 10px; /* Adds some space between elements */
}